{% extends '_base.html' %}

<!-- News feed content will be on the main page -->
{% block content %}

<div class="newsfeed">
    <div class="content-2"></div>
    <div class="content-8">
        <!-- For loop logic of jinja? template -->

        {%for post in posts %}
        <div class="container">
            <div class="row">
                <div class="content-2">
                    <a href="/user/{{post.username}}">
                        <div class="profile-pic">
                            <img src="{{post.profile_pic}}" alt="poster profile picture">
                        </div>
                    </a>
                </div>
                <div class="content-4">
                    <h1 class="title">{{post.title}}</h1>
                    <h4 class="condition-price">{{post.condition}} - ${{post.price}}</h4>
                    <p>{{post.date}}</p>
                </div>
                <div class="content-1 edit">
                    {% if user == post.username %}
                    <a href="/editpost?id={{post.post_id}}">
                        <img src="../s/assets/pencil-icon.png" alt="edit">
                    </a>
                    {% endif %}
                </div>
                <!-- delete post -->
                <div class="content-1 delete">
                    {% if user == post.username %}
                    <a href="/delete?id={{post.post_id}}">
                        <img src="../s/assets/delete-icon.png" alt="delete">
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="content-8">
                    <p class="description">{{post.description}}</p>
                </div>
            </div>
            <div class="row">
                <div class="content-8">
                    <div class="post-image">
                        <img src="{{post.image}}" class="post-image">
                    </div>
                </div>
            </div>

            <div class="row">
                {% if userObj != None %}
                <div class="content-1">
                    <div class="profile-pic">
                        <img src="{{userObj.photo_url}}" alt="my profile picture">
                    </div>
                </div>
                <div class="content-7">
                    <div class="comment">
                        <form>
                            <input type="text" id="comment" placeholder="Add a comment...">
                            <input type="submit" value="Add Comment">
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>

        </div><br /><br />
        {% endfor %}
    </div>
    <div class="content-2"></div>

</div>
{% endblock %}