{% extends '_base.html' %}
{% block header %}
Sign Up
{% endblock %}
{% block content %}
<div class="signup">
    <form method="post" action="/register">
        <table class="center-table">
            <tr>
                <td>Pitt Email Address</td>
                <td><input type="email" name="email"></td>
            </tr>
            <tr>
                <td>First Name</td>
                <td><input type="first_name" name="first_name"></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="last_name" name="last_name"></td>
            </tr>
            <tr>
                <td>Graduation Year</td>
                <td><input type="grad_year" name="grad_year"></td>
            </tr>
            <tr>
                <td>School (e.g School of Computing)</td>
                <td><input type="school" name="school"></td>
            </tr>
            <tr>
                <td>Profile Photo URL</td>
                <td><input type="photo_url" name="photo_url"></td>
            </tr>
            <tr>
                <td>Tell us about yourself!</td>
                <td><input type="bio" name="bio"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password1"></td>
            </tr>
            <tr>
                <td>Repeat Password</td>
                <td><input type="password" name="password2"></td>
            </tr>
        </table>
        <div class="signup-submit">
            <input type="submit">
        </div>
    </form>

    <header>{% if errors %}{% for error in errors %}
        <div class="Error">{{error}}</div>
        {% endfor %}{% endif %}
    </header>
</div>
{% endblock %}